* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background: #f5eded;
    color: #ffffff;
    line-height: 1.6;
}


nav {
    position: fixed;
    top: 0;
    width: 100%;
    background: transparent;
    color: rgb(236, 234, 234);
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 16px 32px;
    z-index: 1000;
    transition: background 0.3s ease, box-shadow 0.3s ease;
}

nav.scrolled {
    background: #c71d07;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
}

nav .logo {
    font-weight: bold;
    font-size: 24px;
    letter-spacing: 2px;
}

nav ul {
    list-style: none;
    display: flex;
    gap: 32px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-weight: 600;
    transition: color 0.3s ease;
}

nav ul li a:hover {
    color: #f00d0d;
}

header {
    background: url('https://i.ytimg.com/vi/KaedHpFGxUg/maxresdefault.jpg') no-repeat center center/cover;
    height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    text-shadow: 2px 2px 6px rgba(0, 0, 0, 0.7);
    padding: 0 16px;
    padding-top: 60px;
    text-align: center;
}

header h1 {
    font-size: 48px;
    max-width: 700px;
    line-height: 1.2;

}

h2 {
    font-size: 35px;
    max-width: 700px;
    line-height: 1.2;
    color: #c71d07;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.poderes img {
    display: inline-block;
    width: 380px;
    height: 300px;
    object-fit: cover;
    border-radius: 10px;
    box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.2);
}

h5 {
    font-size: 16px;
    max-width: 700px;
    line-height: 1.2;
    color: #202020;
    margin: 10px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}

p {
    font-size: 14px;
    line-height: 1.2;
    color: #202020;
    margin: 10px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    max-width: 100%;
}

.container {
    display: flex;
    align-items: center;
    gap: 20px;
    /*espaço entre imagem e texto*/
    padding: 20px;
    justify-content: center;

}

.texto {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 20px;
}


.informacao {
    margin: 20px;
    width: 100vw;
    margin: 0;
    padding: 0;
}

.informacao p {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 30px;
    width: 100%;
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}


footer{
    background-color: #df6758;
    color: white;
    padding: 10px 0;
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin-top: 40px;
}   